<div style="background: transparent;" mat-dialog-content >

    <div mat-dialog-actions >
        <mat-icon  style="transform: scale(1.5);margin-right:5%"> call</mat-icon>
      <h1 style="color: black;font-size:2em;font-weight:bolder;margin-top:15px">
        Incoming Call From {{data.userData.videoCallFrom.displayName |titlecase}}
      </h1>
      <img style="width: 40px;height:40px;margin-top:10px;margin-left:5px;margin-right:5px" src="./assets/img/video-ring-gif.gif" />
      <button style="margin-top: 5px;" (click)="endCall()"  class=" btn btn-fill btn-danger" mat-button [mat-dialog-close]="true">End Call</button>
      <button style="margin-top: 5px;" (click)="onAnswerCall()"  class=" btn btn-fill btn-success" mat-button [mat-dialog-close]="true">Answer call</button>
    </div>
    </div>