
  <div class=" content">
    <div  class=" row">
      <div class=" col-md-12">

        <div id="frame" >
          <div class="container-fluid">
            <!-- <div class="row p-2">
              <button   class=" btn btn-fill btn-danger" [disabled]="!(isCallStarted$ | async)" (click)="endCall()" >End Call</button>
            </div> -->
 
            <div class="row">
              <div class="col text-center">
                <div id="video-wrapper">
                  <video #remoteVideo id="remote-video" poster="./assets/video-placeholder.jpg" autoplay playsinline></video>
                  <video #localVideo id="local-video" autoplay playsinline [muted]=true></video>
                  <button id="end-video-btn"  class=" btn btn-fill btn-danger" [disabled]="!(isCallStarted$ | async)" (click)="endCall()" >End Call</button>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>