<!-- <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.emailLogin(userName.value, userPassword.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
  
 
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.oAuthLogin('event')">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
  
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" (click)="onSignUp()"> Sign Up</span></span>
      </div>
  
    </div>
</div> -->

<div class="login-wrap">
	<div class="login-html">

		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
      <form  [formGroup]="form" class="form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input formControlName="email"  placeholder="user email" id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" formControlName="password" placeholder="user password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <input type="submit" (click)="onSubmit()" class="button" value="Sign In">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        </div>
      </form>

			<div class="sign-up-htm">
        <form  [formGroup]="form" class="form">
          <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" formControlName="username" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Email Address</label>
            <input id="pass" formControlName="email" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" formControlName="password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Repeat Password</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input type="submit" (click)=" onSubmitSignup()" class="button" value="Sign Up">
          </div>
        </form>
				<div class="hr">
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</label>
				</div>
			</div>
		</div>
	</div>
</div>