<div class=" content">
    <div   class=" row">
      <div id="center"  class="col-md-12" >
        <div class=" col-md-6">
            <div class=" card card-user">
              <div class=" card-body">
                <p class=" card-text"></p>
                <div class=" author">
                  <div class=" block block-one"></div>
                  <div class=" block block-two"></div>
                  <div class=" block block-three"></div>
                  <div class=" block block-four"></div>
                  <a href="javascript:void(0)">
                    <img alt="..." class=" avatar" [src]="profileData.photoURL" />
      
                    <h2 class=" title">{{ profileData.displayName |titlecase}}</h2>
                  </a>
                  <p class=" description"> Joined on {{profileData.metadata.creationTime | date }}</p>
                </div>
                <div class=" card-description">
                
                </div>

                <h2 style="margin-top: 10%;" class=" title">Current Chats</h2>
                <div class=" card-footer">
                  <div 
                    fxLayout="row wrap" 
                    fxLayout.lt-sm="column" 
                    fxLayoutGap="32px" 
                    fxLayoutAlign="flex-start">
                    <ng-container *ngFor="let chat of currentChats">
                        <div class=" button-container">
                          <h3 style="font-weight: bold;">{{chat.messageWith.displayName |titlecase}}</h3>
                          <img style="object-fit:cover;height:100px;width:100px;border-radius:100%" [src]="chat.messageWith.photoURL" />
                        </div>
  
                    </ng-container>
                  </div>
  
                </div>
              </div>
              

            </div>
          </div>
      </div>
   </div>
</div>

